:root {
    --clr-bg: #fafafa;
    --clr-secbg: #d2d3db;
    --clr-text: black;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}
/* body */
body {
    width: 60vw;
    padding: 2px;
    padding-left: 20vw;
    padding-right: 20vw;
    background-color: var(--clr-bg);
}
@media (max-width: 650px) {
    body {
        width: 100vw;
        padding-left: 0;
    }
}
@media (min-width: 501px) {
    #skillstable_firsthalf {
        display: none;
    }
    #skillstable_secondhalf {
        display: none;
    }
}
@media (max-width: 500px) {
    body {
        width: 100%;
        padding-left: 0;
    }
    #project {
        max-width: 75%;
        height: 5%;
    }
    #project img {
        display: none;
    }
    #skillstable_full {
        display: none;
    }
    .grid-item {
        width: 95%;
        margin-left: 0;
    }
}
/* Header */
header {
    display: flex;
    border-bottom: 1px solid var(--clr-text);
}
#title {
    color: var(--clr-text);
    border-right: 1px solid var(--clr-text);
}
#title h1 {
    margin: 3px;
    border-right: none;
}
#navbar {
    padding-top: 8px;
}
#navbar ul {
    list-style-type: none;
    margin: 3px;
}
#navbar li {
    display: inline;
    text-align: center;
    font-size: larger;
    border: none;
    margin-right: 2px;
    padding: 5px;
}
#navbar li button {
    text-align: center;
    font-size: larger;
    border: none;
    margin-right: 2px;
    padding: 5px;
}
#navbar li button:hover {
    cursor: pointer;
}
.ignore {
    color: var(--clr-text);
    background: none;
}
.onpage {
    background-color: var(--clr-secbg);
    color: var(--clr-text);
}
.notonpage {
    background: none;
    color: var(--clr-text);
}
/* Main */
main {
    margin: 50px;
    color: var(--clr-text);
}
main p {
    font-size: 20px;
}
table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 50%;
    border-collapse: collapse;
    border: 4px solid var(--clr-text);
}
table tr th {
    border: 2px solid var(--clr-text);
    padding: 6px;
}
table tr:nth-child(even) {
    background-color: var(--clr-secbg);
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto;
}
.grid-item {
    background-color: var(--clr-secbg);
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: var(--clr-text);
    width: 50%;
    margin-left: 23%;
}
.grid-item img {
    width: 100%;
}
h2 {
    text-align: center;
    border-bottom: 1px solid var(--clr-text);
}
#aboutme {
    text-align: center;
}
#aboutme p {
    margin-top: 7px;
    margin-bottom: 7px;
}
#project {
    background-color: var(--clr-secbg);
    color: var(--clr-text);
    display: flex;
    flex-direction: row;
    margin: 25px;
    text-decoration: none;
    margin-left: 12%;
}
#project p {
    width: 100%;
}
#project img {
    max-width: 35%;
    max-height: auto;
    margin: 5px;
}
#contacts p {
    text-align: center;
    margin-top: 7px;
}
/* blogs */
.topbutton {
    border: 3px solid var(--clr-text);
    padding: 5px;
}
#blogimg {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
#blog h3 {
    padding-top: 15px;
}
.navbarblog ul li {
    float: left;
}
.navbarblog ul li a {
    display: block;
}
.navbarblog {
    padding: 0 !important;
}